*{
    margin:0;
    font-family:Helvetica, arial,sans-serif;
    border: border-box;
   padding:0;
}
.navbar{
    height:42px;
    background-color:white;
    padding-left:80px;
    padding-top:16px;
    display:flex;
    
}
.nav-logo{
    height:21.99px;
    width:73.72px;
}
.logo{
    background-image:url(logitechg.jpg);
    height:15.99px;
    width:66px;
    background-size:cover;
    color:#697172;
    
    
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:2px solid black;
}
.add{
    padding-left:20px;
    color:#697172;
}
.shit{
   color:#697172;
    padding-left:20px;
    width:183.33px;
    margin-right:20px;
    font-weight:100;
   
}
.empty{
        width:890px;
        margin-right:20px;
        
}
.india{
    color:#697172;
    width:183.33px;
    
}
.image{
    background-image:url(logitec.jpg);
    height:500px;
   background-size:cover;
   
    

}
.new{
    font-weight:700;
    color:white;
   padding-top:30px;
   padding-left:80px;
   display:flex;
}
.logi{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-right:350px;
}
.head{
    margin-right:40px;
 
  
}
.bore{
        border:2px solid transparent;
}
.bore:hover{
    color:black;
    border:2px solid white;
    border-radius: 35%;
    border-left-width:10px;
    border-right-width:10px;
    transition-duration: 0.3s;
    background-color: white;
    
}
.meet{
    padding-top:50px;
    color:white;
    font-size:30px;
    font-weight: 900;
    padding-left:80px;

}
.hi{
    padding-top:0px;
    color:white;
    font-size:30px;
    font-weight: 900;
    padding-left:80px;

}
.next{
    padding-top:20px;
    color:white;
    font-size:18px;
    font-weight:50;
    padding-left:80px ;
    font-stretch:extra-expanded;
    font-family:helvetica;
}
.alpha{
    padding-top:0px;
    color:white;
    font-size:18px;
    font-weight:50;
    padding-left:80px ;
    font-stretch:extra-expanded;
    font-family:helvetica;
}
.button-container {
     height: 20vh;
   padding-left:80px;
   padding-top:20px;
   margin-right:20px;

  }
  
  .filled-border-button {
    background-color: white;
    color: black;
    border: 2px solid white; /* Matches the background color */
    font-weight: 530;
    padding:15px 30px;
    cursor: pointer;
    text-transform: uppercase;
    margin-right:20px;
    
  }
  
  .filled-border-button:hover {
    background-color: #A36659; /* Same as the border */
    color: white; /* Contrast text */
    transition: 0.3s;
  }
  .apple{
    display:flex;
  }
  .newpic{
    margin-top:80px;
    background-image: url(imag.jpg);
    height:386.66px;
    margin-left:80px;
    width:386.66px;
   margin-right:5px;
   
  }
  .newpi{
    margin-top:80px;
    background-image: url(image\ 2.jpg);
    height:386.66px;
    margin-left:30px;
    width:386.66px;
   margin-right:5px;

  }
  .ni{
    margin-top:80px;
    background-image: url(iamge\ 3.jpg);
    height:386.66px;
    margin-left:30px;
    width:386.66px;


}
.efgh{
    display:flex;
}
.abcd{
    padding-left: 80px;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight:700;
  margin-right:5px;
  display:flex;
}
.qst{
    padding-left: 40px;
    padding-top: 0px;
    text-transform: uppercase;
    font-weight:700;
  margin-right:145px;
}
.aew{
    padding-left: 80px;
    padding-top: 0px;
    text-transform: uppercase;
    font-weight:700;
  margin-right:0px;
}
.al{
    display:flex;
    margin-top:10px;
}
.letter{
    margin-left:80px;
   
}
.sep{
    
    margin-left:92px;
}
.third{
    margin-left:88px;
}
.lmn{
    display:flex;
}
.line{
    margin-left:80px;
}
.asdf{
    margin-left:350px;
}
.nbv{
    margin-left:72px;
}
.beta{
    margin-left:923px;
}
.arrow{
    display:flex;

}
.gamma{
    font-weight:600;
    margin-left:80px;
    text-transform: uppercase;
}
.ajk{
    margin-left:10px;
}
.zeta{
    margin-left:240px;
    font-weight:600;

}
.adf{
    margin-left:10px;
}
.szx{
    display:flex;
}
.xcv{
    margin-left:923px;
    text-transform: uppercase;
    font-weight: 550;

}
.another{
    margin-left:10px;
    padding-bottom: 80px;
}
.sam{
    display: flex;
    text-decoration: #f4f4f4 underline;
    
}
.vcb{
    margin-left:150px;
    font-weight: 600;
    text-decoration: black underline;

}
.apl{
    margin-left:50px;
    font-weight:500;

}
.bet{
    margin-left:50px;
    font-weight: 500;
}
.na{
    display: flex;
    
   
}
.s{
    margin-left:30px;
}
.nag{
    margin-top:30px;
    margin-left:200px;
    background-image: url(first.jpg);
    height:180px;
    width: 180px;
  
   background-size:contain;
   margin-right:40px;

}
.aqi{
        margin-top:30px;
        background-image: url(second.jpg);
        height:180px;
        width:180px;
      
        background-size:contain;
        margin-right:40px;
}
.thi{
    margin-top:30px;
        background-image: url(thirdd.jpg);
        height:170px;
        width:180px;
       
        background-size:contain;
        margin-right:40px;
}
.hai{
    margin-top:30px;
        background-image: url(fourthh.jpg);
        height:180px;
        width:180px;
        
        background-size:contain;
        margin-right:40px;
}
.tha{
    margin-top:30px;
    background-image: url(fifth.jpg);
    height:160px;
    width:180px;
    background-size:contain;
    margin-right:40px;
}


.nagi{
    display:flex;
    justify-content: center;
}
.nagiv{
    margin-top:100px;
    margin-bottom: 100px;
    border-radius:50%;
    color:black;
    height:10px;
    width:10px;
    margin-left:180px;
    clip-path:circle(50%);
}
.alqw{
    margin-top:50px;
width:1423px;
  height:868px;
  background-color:#f4f4f4;
}
.kela{
    margin-top:30px;
    text-align: center;
    font-weight:900;
    color:black;
    text-transform: uppercase;
    margin-left:50px;
    margin-bottom:80px;
    
}
.thr{
    margin-top:80px;
    display:flex;
}
.uiw{
    
    height:328px;
    width:400px;
    background-image: url(abcd.jpg);
    margin-left:90px;
    background-size:cover;
    margin-right:15px;
    
}
.j{
    font-weight:700;
text-align:center;
color:white;
justify-content: center;
margin-top:164px;

}
.theta{
height:328px;
width:400px;
background-image:url(qrs.jpg);
background-size:cover;
margin-right:15px;

}
.s{
    font-weight:700;
text-align:center;
color:white;
justify-content: center;
margin-top:164px;
}
.pie{
    height:328px;
width:400px;
background-image:url(lmn.jpg);
background-size:cover;

}
.for{
    font-weight:700;
    text-align:center;
    color:white;
    justify-content: center;
    margin-top:164px;
}

.keta{
    margin-top:15px;
    display:flex;
}
.ueta{
    height:328px;
    width:400px;
    background-size:cover;
    background-image: url(qwe.jpg);
    margin-left:90px;
    margin-right:15px;
}
.a{
    font-weight:700;
    text-align:center;
    color:white;
    justify-content: center;
    margin-top:164px;
}
.peta{
    height:328px;
    width:815px;
    background-image:url(asd.jpg);
    background-size:cover;

}
.c{
    font-weight:700;
    text-align:center;
    color:white;
    justify-content: center;
    margin-top:164px;
}
.z{
    text-align: center;
    margin-top:60px;
    text-transform: uppercase;
    font-weight:800;
}
